<navbar></navbar>



<div class="row mainPozicija">
    <div class="col-md-2 font">
        <homeNavigation></homeNavigation>
    </div>
    <div class="col-md-7 font">
        <router-outlet></router-outlet>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-2">
        <!--Panel desno s obavijestima-->
        <div class="panel panel-primary" >
            <div class="panel-heading"> 
            </div>
            <div class="panel-body">
                <h4>Zahtjevi za učenje:</h4>
                <div  *ngIf="!zakljucano">
                    <div *ngFor="let req of myRequests" class="form-inline">
                        <div class="form-group">
                            <button (click)="potvrdiDvojku(req)" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></button>
                        </div>
                        &nbsp;
                        <div class="form-group">
                            <h5 >{{req.daje.name}} ({{req.daje.age}})</h5>
                        </div>
                    </div>
                    <hr>
                    <div *ngFor="let req of myRequestsTrojke" class="form-inline">
                        <button (click)="potvrdiTrojku(req)"  class="btn btn-success form-group"><span class="glyphicon glyphicon-ok" data-toggle="modal" data-target="#myModal"></span></button>

                        &nbsp;
                        <div class="form-group">
                            <h5 >{{req.daje.name}} ({{req.daje.age}}) -> {{req.prima1.name}}({{req.prima1.age}})({{req.prima1.status}}), {{req.prima2.name}}({{req.prima2.age}})({{req.prima2.status}})</h5>
                        </div>
                    </div>
                </div>
                <h5  *ngIf="zakljucano">Nedostupno za vrijeme lekcije</h5>
                <hr>
                <h4>Popis ljudi na serveru:</h4>
                <h5 *ngFor="let user of usersOnline">{{user.name}} ({{user.age}})</h5>
            </div>
        </div>

        <!-- Chat -->
        <div *ngIf="!zakljucano" >
            <div class="panel panel-primary" style="color: black">
                <div class="panel-heading">
                    Server Chat
                </div>
                <div class="panel-body pre-scrollable" style="height: 200px;">
                    <h6 *ngFor="let m of porukeSvima">{{m}}</h6>
                </div>
            </div>
            <div class="input-group" style="width: 100%;">
                <span (click)="saljiPoruku()" class="btn btn-warning input-group-addon" id="basic-addon1">
                    <span class="glyphicon glyphicon-send"></span>
                </span>
                <input [(ngModel)]="chatText" (keyup.enter)="saljiPoruku()" min="1" type="text" class="form-control" placeholder="Tekst" aria-describedby="basic-addon1">
            </div>
        </div>
        <div *ngIf="zakljucano" >
            <div class="panel panel-default" style="color: black">
                <div class="panel-heading">
                    Chat
                </div>
                <div class="panel-body pre-scrollable" style="height: 200px;">
                    <h6 *ngFor="let m of porukeUcenje">{{m}}</h6>
                </div>
            </div>
            <div class="input-group" style="width: 100%;">
                <span (click)="saljiPoruku()" class="btn btn-warning input-group-addon" id="basic-addon1">
                    <span class="glyphicon glyphicon-send"></span>
                </span>
                <input [(ngModel)]="chatText" (keyup.enter)="saljiPoruku()" min="1" type="text" class="form-control" placeholder="Tekst" aria-describedby="basic-addon1">
            </div>
        </div>
    </div>
</div>

<div data-backdrop="static" data-keyboard="false" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 *ngIf="zahtjevTrojke != undefined && !zahtjevTrojkeUklonjen || zahtjevPotdvrdjen && zahtjevTrojke != undefined" class="modal-title modalFont" id="myModalLabel">Potvrdili ste zahtjev osobi: {{zahtjevTrojke.daje.name}}</h4>
        <h5 *ngIf="zahtjevTrojke != undefined && !zahtjevTrojkeUklonjen || zahtjevPotdvrdjen && zahtjevTrojke != undefined">{{zahtjevTrojke.prima1.name}}, status: 
            <span *ngIf="zahtjevTrojke.prima1.status" style="color: green"><span class="glyphicon glyphicon-ok"></span></span>
            <span *ngIf="!zahtjevTrojke.prima1.status" ><span class="glyphicon glyphicon-remove"></span></span>
        </h5>
        <h5 *ngIf="zahtjevTrojke != undefined && !zahtjevTrojkeUklonjen || zahtjevPotdvrdjen && zahtjevTrojke != undefined">{{zahtjevTrojke.prima2.name}}, status: 
            <span *ngIf="zahtjevTrojke.prima2.status" style="color: green"><span class="glyphicon glyphicon-ok"></span></span>
            <span *ngIf="!zahtjevTrojke.prima2.status" ><span class="glyphicon glyphicon-remove"></span></span>
        </h5>
        <h5 *ngIf="zahtjevTrojkeUklonjen &&  !zahtjevPotdvrdjen">Ovaj zahtjev je povučen</h5>
      </div>
      <div *ngIf="!zahtjevTrojkeUklonjen" class="modal-body modalFont">
        <div style="vertical-align: middle;">
            Ovo je stanje čekanja. Možete nastaviti čekati, ili poništiti vašu potvrdu.
            <span class="glyphicon glyphicon-time modalFont" style="font-size: 50px;"></span>
        </div>
      </div>
      <div class="modal-footer">
        
        <button (click)="zapocni()" data-dismiss="modal" data-target="#myModal" *ngIf="zahtjevPotdvrdjen" type="button" class="btn btn-success" >Započni učenje</button>
        <button *ngIf="zahtjevTrojkeUklonjen && !zahtjevPotdvrdjen" type="button" class="btn btn-default" data-dismiss="modal" data-target="#myModal">Zatvori</button>
        <button *ngIf="!zahtjevPotdvrdjen && !zahtjevTrojkeUklonjen" id="prekini" type="button" class="btn btn-danger" data-dismiss="modal" data-target="#myModal" (click)="ponistiPotvrduTrojka()">Poništi potvrdu</button>
      </div>
    </div>
  </div>
</div>

<style>
    .taskLine {
        margin-top: 20px;
    }
    .inputOperand {
        height: 50px; 
        width: 100px;
        color: black;
        font-size: 40px;
        margin-right: 10px;
    }
    .operator {
        font-size: 40px;
        color: whitesmoke;
        margin-right: 10px;
    }

    .mainPozicija {
        margin-top: 100px;
    }
    .font{
        color: #e0dbd1;
        font-family: "Comic Sans MS", cursive, sans-serif
    }
        
</style>