<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a  class="navbar-brand">MatkaMultiplayer</a>
        </div>

    </div>
</nav>

<style>
    .navbarElement{
        margin-top: 10px;
        color: whitesmoke;
        margin-right: 50px;
    }
    ul li {
        display: inline;
        margin-right: 20px;
    }
</style>
