
<div class="row">
    <div class="col-md-8">
        <h2 class="citat">"Za mozak pojedinca, igra je najdraži način učenja."</h2>
        <h3 class="citat">- Diane Ackerman</h3>
        <br><br><br>
        
        <div class="alert alert-info">
            <div class="pull-right">
                <span class="glyphicon glyphicon-info-sign glyph"></span>
            </div>
            <strong>Kako se uči u trojci?</strong>
            <br>
            &nbsp;=> Prvi zadaje i ocjenjuje
            <br>
            &nbsp;=> Drugi odgovara
            <br>
            &nbsp;=> Treći evaluira ispravnost ocjene
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="alert alert-info">
                    <strong>S prijateljem</strong>
                    <br>
                    Korisnik sam odabire dvoje ljudi s popisa korisnika na serveru. Odabirom, te potvrdom odabira, ostalim se korisnicima šalje zahtjev za učenje.
                    Zahtev se može odazvati ili se može čekati na potvrdan odgovor oba partnera, nakon čega počinje učenje.
                </div>
            </div>
            <div class="col-md-6">
                <div class="alert alert-warning">
                    <strong>Brzo učenje</strong>
                    <br>
                    Korisnika se na temelju određenog algoritma stavlja u grupu s još dvoje ljudi s kojima će odraditi učenje.
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4" style="padding-left: 50px;padding-right:50px;">
        <img class="slika" src="/images/drip.png" >
    </div>
</div>


<style>
    .glyph {
        font-size: 50px;
    }
    .slika{
        width: 100%;
    }
    .citat{
        font-family: "Arial Black", Gadget, sans-serif;
        color: whitesmoke;
    }
    p {
        
        color: whitesmoke;
        font-size: 17px;
    }
</style>