<!--
    Login screen
-->

<loginNavbar></loginNavbar>

<div class="row mainPozicija">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        <hr>
        <div class="inputBlock center-block">
            <div class="input-group inputDistance">
                <!-- style="color: #d29700"-->
                <h2 class="naslov"><span  class="glyphicon glyphicon-log-in glyph"></span>&nbsp;&nbsp; Login</h2>
            </div>
            <div class="input-group inputDistance">
                <span class="input-group-addon inputDecor" id="basic-addon1"></span>
                <input [(ngModel)]="userName" (keyup.enter)="zapocni()" type="text" class="form-control" placeholder="Nadimak" aria-describedby="basic-addon1">
            </div>
            <div class="input-group inputDistance">
                <span class="input-group-addon inputDecor" id="basic-addon1"></span>
                <input [(ngModel)]="age" (keyup.enter)="zapocni()" min="1" type="number" class="form-control" placeholder="Starost" aria-describedby="basic-addon1">
            </div>
            <div *ngIf="age > 14"  class="alert alert-warning inputDistance">
                <strong><img src="/images/grandpa.png" class="imageGrandpa" > </strong>
                Ova aplikacije jest namijenjena djeci nižih razreda osnovne škole u savladavanju gradiva matematike.
            </div>
            
            <button class="btn inputDecor inputDistance" (click)="zapocni()">
                Započni
            </button>
            <div align="right" class="inputDistance">
                <div class="icon">
                    <span name="povratak"  title="Što je Matka Multyplayer?" (click)="info=!info" class="glyphicon glyphicon-question-sign glyph naslov"></span>
                </div>
            </div>
        </div>
        <br>
        <hr>
    </div>
    <div class="col-md-1" >
        
    </div>
    <div *ngIf="info" class="col-md-2" >
        <div class="row">
            <img class="loginImg" src="/images/learning.png">
        </div>
        <br>
        <div class="panel panel-default">
            <div class="panel-body text-center">
                Web aplikacija za suradničko učenje matematike u parovima ili trojkama.
            <br><br>
            <strong>Više pojedinosti nakon logina.</strong>
            </div>
            
        </div>
    </div>
    
</div>
<style>
    .loginImg{
        width: 100%;
    }

    .icon:hover span {
        -webkit-transform:scale(1.2); /* Safari and Chrome */
        -moz-transform:scale(1.2); /* Firefox */
        -ms-transform:scale(1.2); /* IE 9 */
        -o-transform:scale(1.2); /* Opera */
        transform:scale(1.2);
        color: orange;
    }
    .icon span {
        -webkit-transition: all 0.2s ease; /* Safari and Chrome */
        -moz-transition: all 0.2s ease; /* Firefox */
        -ms-transition: all 0.2s ease; /* IE 9 */
        -o-transition: all 0.2s ease; /* Opera */
        transition: all 0.2s ease;
    }
    .mainPozicija {
        margin-top: 100px;
    }
    .naslov{
        color: whitesmoke;
        font: Times;
    }
    .glyphMD {
        font-size: 25px;
    }
    .glyph {
        font-size: 50px;
    }
    .imageGrandpa {
        height: 60px;
    }
    .image {
        border-radius: 100%;
        width: 100%;
        height: 300px;
        width: 300px;
    }
    .inputBlock {
        margin-top: 20px;
        width: 300px;
    }
    .inputDistance {
        margin-top: 20px;
    }
    .inputDecor {
        color: #fff;
        background-color: #428bca;
        border-color: #357ebd;
    }
    .buttonLogin {
        width: 100%;
    }
</style>
