 <div *ngIf="!ucenjePrekinuto && soba != undefined">  
    <div class="row">
        <div class="col-md-8">
            <h2>Zbrajanje i oduzimanje. Tečaj 1</h2>
            <h4 *ngIf="vrsta == 2">Učenje u dvojkama</h4>
            <h4 *ngIf="vrsta == 3">Učenje u trojkama</h4>
            <!--<div *ngIf="soba == undefined" class="alert alert-danger text-center">
                <strong>
                    Učenje prekinuto
                </strong>
            </div>-->
            <div *ngIf="soba != undefined">
                <h4 *ngIf="vrsta == 2">Sudjeluju: {{soba.prvi.name}}({{soba.prvi.age}}), {{soba.drugi.name}}({{soba.drugi.age}})</h4>
                <h4 *ngIf="vrsta == 3">Sudjeluju: {{soba.prvi.name}}({{soba.prvi.age}}), {{soba.drugi.name}}({{soba.drugi.age}}), {{soba.treci.name}}({{soba.treci.age}})</h4>
            </div>
            <h4>Zadatak br.{{brojZadatka}}</h4>
        </div>
        <div class="col-md-4 text-right">
            <div class="alert alert-warning text-center">
                        <strong *ngIf="mojePravo == 1">Rjesavam</strong>
                        <strong *ngIf="mojePravo == 2">Zadajem i ocjenjujem</strong>
                        <strong *ngIf="mojePravo == 3">Evaluiram ispravnost</strong>
                    </div>
            <button *ngIf="!ucenjeZavrseno" data-toggle="modal" data-target="#modalQuit" class="btn btn-danger">
                <span class="glyphicon glyphicon-share"></span>
                Napusti učenje
            </button>
        </div>
        
    </div>
    <hr>
    <div *ngIf="!ucenjeZavrseno" class="row">
        <!-- onaj koji EVALUIRA -->
        <div *ngIf="mojePravo == 3 && !mogucaEvaluacija && !mogucNastavak" class="alert alert-info">
            <strong>
                Pričekaj dok se zadatak ne ocijeni.
            </strong>
                Tvoja će zadaća biti odrediti je li zadatak dobro ocijenjen.
        </div>
        <div *ngIf="mojePravo == 3 && mogucaEvaluacija && !mogucNastavak" class="alert alert-info">
            <strong>
                Tvoj je red da prosudiš o ispravnosti ocijene zadatka. 
            </strong>
        </div>
        <!-- onaj koji RJESAVA-->
        <div *ngIf="mojePravo == 1 && !mogucaPredaja && !mogucNastavak" class="alert alert-info">
            <strong>
                Pričekaj dok ti se ne zada zadatak.
            </strong>
        </div>
        <div *ngIf="mojePravo == 1 && mogucaPredaja" class="alert alert-info">
            <strong>
                Rješite zadatak te ga predajte.
            </strong>
        </div>
        <div *ngIf="mojePravo == 1 && mogucaNastavak" class="alert alert-info">
            <strong>
                Vaš zadatak je ocijenjen.
            </strong>
        </div>
        <!--onaj koji ocjenjuje i zadake-->
        
        <div *ngIf="mojePravo == 2 && moguceOcijenjivanje" class="alert alert-info">
            <strong>
                Ocijeni zadatak.
            </strong>
        </div>
        <div *ngIf="mojePravo == 2 && !zadajPritisnut" class="alert alert-info">
            <strong>
                Zadaj zadatak.
            </strong>
        </div>
        <div *ngIf=" mogucNastavak" class="alert alert-info">
            <strong>
                Završio zadatak.
            </strong>
        </div>
                
    </div>
    
    <div *ngIf="!ucenjeZavrseno" class="row redak">    
            <div *ngIf="brojZadatka == 1" id="zad1" class="form-inline">
                <input [(ngModel)]="operandi[0]" [disabled]="mojePravo!=2 || zadajPritisnut" type="number" class="input form-group">
                <h1 class="form-group operator">+</h1>
                <input [(ngModel)]="operandi[1]" [disabled]="mojePravo!=2 || zadajPritisnut" type="number" class="input form-group">
                <h1 class="form-group operator">=</h1>
                <input [(ngModel)]="operandi[2]" [disabled]="mojePravo!=1 || !mogucaPredaja" type="number" class="input form-group">
            </div>
            <div *ngIf="brojZadatka == 2" id="zad1" class="form-inline">
                <input [(ngModel)]="operandi[0]" [disabled]="mojePravo!=2 || zadajPritisnut" type="number" class="input form-group">
                <h1 class="form-group operator">+</h1>
                <input [(ngModel)]="operandi[1]" [disabled]="mojePravo!=2 || zadajPritisnut" type="number" class="input form-group">
                <h1 class="form-group operator">=</h1>
                <input [(ngModel)]="operandi[2]" [disabled]="mojePravo!=1 || !mogucaPredaja" type="number" class="input form-group">
            </div>
            <div *ngIf="brojZadatka == 3" id="zad1" class="form-inline">
                <input [(ngModel)]="operandi[0]" [disabled]="mojePravo!=2 || zadajPritisnut" type="number" class="input form-group">
                <h1 class="form-group operator">+</h1>
                <input [(ngModel)]="operandi[1]" [disabled]="mojePravo!=2 || zadajPritisnut" type="number" class="input form-group">
                <h1 class="form-group operator">=</h1>
                <input [(ngModel)]="operandi[2]" [disabled]="mojePravo!=1 || !mogucaPredaja" type="number" class="input form-group">
            </div>
    </div>      
    <div *ngIf="!ucenjeZavrseno" class="row">

            <div *ngIf="mojePravo == 1 && ocijena != undefined">
                <div *ngIf="ocijena" class="alert alert-success">
                    <strong>Točno</strong>
                </div>
                <div *ngIf="!ocijena" class="alert alert-danger">
                    <strong>Netočno</strong>
                </div>
            </div>
            <div *ngIf="mojePravo == 2 && evaluacija != undefined">
                <div *ngIf="evaluacija" class="alert alert-success">
                    <strong>Dobro ocijenjeno</strong>
                </div>
                <div *ngIf="!evaluacija" class="alert alert-danger">
                    <strong>Krivo ocijenjeno</strong>
                </div>
            </div>
            <div *ngIf="mojePravo == 3 && ocijena != undefined">
                <div *ngIf="ocijena" class="alert alert-success">
                    <strong>Točno</strong>
                </div>
                <div *ngIf="!ocijena" class="alert alert-danger">
                    <strong>Netočno</strong>
                </div>
            </div>
    </div>
    <div *ngIf="!ucenjeZavrseno" class="row">
            <button (click)="zadatakZadan()" *ngIf="mojePravo == 2 && !zadajPritisnut" class="btn btn-warning">Zadaj</button>
            <div *ngIf="mojePravo == 2 && moguceOcijenjivanje" class="btn-group">
                <button (click)="zadatakOcijenjen(true)" class="btn btn-success">Tocno</button>
                <button (click)="zadatakOcijenjen(false)" class="btn btn-danger">Krivo</button>
            </div>

            
            <div *ngIf="mojePravo == 3 && mogucaEvaluacija" class="btn-group">
                <button (click)="zadatakEvaluiran(true)" class="btn btn-success">Tocno</button>
                <button (click)="zadatakEvaluiran(false)" class="btn btn-danger">Krivo</button>
            </div>

            <button (click)="zadatakRjesen()" *ngIf="mojePravo == 1 && mogucaPredaja" class="btn btn-warning">Predaj</button>
            <button (click)="nastavak()" *ngIf="mogucNastavak" class="btn btn-warning">Sljedeći</button>
                
    </div>
    <div *ngIf="ucenjeZavrseno" class="row redak">
        <div class="alert alert-info">
            <div class="pull-right">
                <button (click)="zavrsi()" class="btn btn-default">Završi s učenjem</button>
            </div>
            <strong>
                Učenje je završeno
            </strong>
        </div>
        <!--<div class="row">
            <h3>Sadržaj ove lekcije:</h3>
            <table style="width:50%">
                <tr>
                    <th>Zadatak</th>
                    <th>Ocijena</th> 
                    <th *ngIf="vrsta == 3">Ispravnost</th>
                </tr>
                <tr *ngFor="let s of statistika">
                    <td>{{s.zadatak}}</td>
                    <td *ngIf="s.ocijena">Točno</td>
                    <td *ngIf="!s.ocijena">Krivo</td>  
                    <td *ngIf="vrsta == 3 && s.evaluacija">Dobro</td>
                    <td *ngIf="vrsta == 3 && !s.evaluacija">Pogrešno</td>
                </tr>
                
            </table>
        </div>-->
    </div>
</div>
 <div *ngIf="ucenjePrekinuto || soba == undefined">
    <div class="alert alert-warning">
        <strong>Učenje prekinuto</strong> Korisnik {{ucenjePrekinuo}} prekinuo učenje.
    </div>
 </div>
<!--Modal za prekidanje učenja-->
<div data-keyboard="false" class="modal fade" id="modalQuit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="color: black">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
            Napuštanje učenja
      </div>
      <div  class="modal-body">
            Jeste li sigurni da želite napustiti učenje?
      </div>
      <div class="modal-footer">
            <button (click)="napusti()" class="btn btn-danger" data-dismiss="modal">Napusti</button>
      </div>
    </div>
  </div>
</div>



<style>
    .prostorZaZadatak{
        padding-left: 50px;
        padding-top: 30px;
    }
    .redak{
        margin-top: 50px;
    }
    .input{
        height: 50px;
        width: 100px;
        font-size: 30px;
        margin-right: 20px;
        color: black;
    }
    .operator{
        margin-right:10px;
    }
    

</style>