
<div class="panel panel-default navbar-fixed-left">
  <div class="panel-body text-center" style="padding-bottom: 20px;">
      <h3 class="navbarText">Učenje</h3>
      <div *ngIf="!zakljucano">  
          <div routerLink="/home/dvojke/info" class="image">
            <img title="U parovima" class="slika" src="/images/dvojka.png">
          </div>
          <br>
          <div routerLink="/home/trojke/info" class="image">  
            <img title="U trojkama" class="slika" src="/images/trojka.png">
          </div>
      </div>
      <div *ngIf="zakljucano">  
          <div class="imageZakljucano">
            <img title="Zaključano za vrijeme učenja" class="slika" src="/images/dvojka.png">
          </div>
          <br>
          <div class="imageZakljucano">  
            <img title="Zaključano za vrijeme učenja" class="slika" src="/images/trojka.png">
          </div>
      </div>

  </div>
</div>
<style>
    .navbar-fixed-left {
    width: 150px;
    position: fixed;
    padding-left: 10px;
    }
    .navbarText {
      color: darkgray;
    }
    .imageZakljucano{
      width: 100px;  
      border-radius: 100%;
      background-color: lightgray;
    }
    /*za hoveranje*/
    .image {
        width: 100px;  
        border-radius: 100%; 
        -webkit-transition: all 0.5s ease; /* Safari and Chrome */
        -moz-transition: all 0.5s ease; /* Firefox */
        -ms-transition: all 0.5s ease; /* IE 9 */
        -o-transition: all 0.5s ease; /* Opera */
        transition: all 0.5s ease;
    }
    .image:hover{
        background-color: bisque;
        -webkit-transform:scale(1.2); /* Safari and Chrome */
        -moz-transform:scale(1.2); /* Firefox */
        -ms-transform:scale(1.2); /* IE 9 */
        -o-transform:scale(1.2); /* Opera */
        transform:scale(1.2);
    }
    .slika{
      width: 90px;
    }
    .image img {
        -webkit-transition: all 0.5s ease; /* Safari and Chrome */
        -moz-transition: all 0.5s ease; /* Firefox */
        -ms-transition: all 0.5s ease; /* IE 9 */
        -o-transition: all 0.5s ease; /* Opera */
        transition: all 0.5s ease;
    }
    
    .image:hover img {
        -webkit-transform:scale(1.2); /* Safari and Chrome */
        -moz-transform:scale(1.2); /* Firefox */
        -ms-transform:scale(1.2); /* IE 9 */
        -o-transform:scale(1.2); /* Opera */
        transform:scale(1.2);
    }
</style>

<!--
  <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
     <ul class="dropdown-menu" role="menu">
      <li><a href="#">Sub Menu1</a></li>
      <li><a href="#">Sub Menu2</a></li>
      <li><a href="#">Sub Menu3</a></li>
      <li class="divider"></li>
      <li><a href="#">Sub Menu4</a></li>
      <li><a href="#">Sub Menu5</a></li>
     </ul>
   </li>
-->
