
<div class="row">
    <div class="col-md-8">
        <h2 class="citat">"Igra nas održava vitalnima i živima. Daje nam entuzijazam za životom, koji je jednostavno nezamjenjiv. Bez njega, život jednostavno nije toliko dobar."</h2>
        <h3 class="citat">- Lucia Capocchione</h3>
        <br><br><br>
        
        <div class="alert alert-info">
            <div class="pull-right">
                <span class="glyphicon glyphicon-info-sign glyph"></span>
            </div>
            <strong>Kako se uči u paru?</strong>
            <br>
            &nbsp;=> Prvi zadaje
            <br>
            &nbsp;=> Drugi odgovara
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="alert alert-info">
                    <strong>S prijateljem</strong>
                    <br>
                    Korisnik sam odabire nekog od ljudi na serveru s kojim želi učiti. Nakon odabira i potvrde odabira, drugom se korisniku šalje zahtjev.
                    Zahtjev se može odazvati, ili se čekanjem može doći u potvrdno stanje.
                </div>
            </div>
            <div class="col-md-6">
                <div class="alert alert-warning">
                    <strong>Brzo učenje</strong>
                    <br>
                    Korisniku se na temelju određenog algoritma određuje partner s kojim će sudjelovati u učenju.
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <img class="slika" src="/images/learningDvojka.png" >
    </div>
</div>


<style>
    .glyph {
        font-size: 50px;
    }
    .slika{
        width: 100%;
    }
    .citat{
        font-family: "Arial Black", Gadget, sans-serif;
        color: whitesmoke;
    }
    p {
        
        color: whitesmoke;
        font-size: 17px;
    }
</style>