

<div class="row">
    <h2>S prijateljem</h2>
</div>
<div class="row">
    <div class="col-md-3">
        <h3>Popis ljudi na serveru:</h3>
        <div *ngFor="let user of usersOnline" class="user form-inline" style="width:100%;">
            <button *ngIf="!user.odabran" (click)="odaberi(user)" align="right" class="btn btn-default form-group" >
                <span class="glyphicon glyphicon-ok"></span>
            </button>
            <button *ngIf="user.odabran" (click)="odaberi(user)" align="right" class="btn btn-info form-group" >
                <span class="glyphicon glyphicon-ok"></span>
            </button>
            &nbsp;&nbsp;
            <h4 class="form-group">{{user.name}}({{user.age}})</h4>
        </div>
    </div>
    <div class="col-md-1">
        <span class="glyphicon glyphicon-circle-arrow-right directionArrow"></span>
    </div>
    <div class="col-md-3">
        <h3>Odabrali ste prijatelja:</h3>
        <div *ngIf="odabran != undefined" class="form-inline">
            &nbsp;&nbsp;
            <h4 class="form-group">{{odabran.name}} ({{odabran.age}})</h4>
        </div>
    </div>
    <div class="col-md-1">
        <span class="glyphicon glyphicon-circle-arrow-right directionArrow"></span>
    </div>
    <div class="col-md-3">
        <button *ngIf="odabran != undefined" class="btn btn-info btn-lg confirmButton" (click)="posaljiZahtjev()" data-toggle="modal" data-target="#myModal">Pošalji zahtjev</button>
        <button *ngIf="odabran == undefined" class="btn btn-info btn-lg confirmButton" disabled>Pošalji zahtjev</button>
    </div>
</div>

<!--MODAL-->
<div data-backdrop="static" data-keyboard="false" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 *ngIf="odabran != undefined" class="modal-title modalFont" id="myModalLabel">Poslali ste zahtjev osobi: {{odabran.name}} ({{odabran.age}})</h4>
      </div>
      <div class="modal-body modalFont">
        Ovo je stanje čekanja. Možete nastaviti čekati, ili poništiti vaš zahtjev. <br>
        <span class="glyphicon glyphicon-time modalFont" style="font-size: 50px;"></span>
      </div>
      <div class="modal-footer">
        <button *ngIf="!zahtjevPotdvrdjen" id="prekini" type="button" class="btn btn-danger" data-dismiss="modal" (click)="ponistiZahtjev()">Poništi zahtjev</button>
        <button (click)="zapocni()" data-dismiss="modal" *ngIf="zahtjevPotdvrdjen" type="button" class="btn btn-success" >Započni učenje</button>
      </div>
    </div>
  </div>
</div>


<style>
    .odmakLijevi{
        margin-left: 20px;
    }
    .btnConfirm{
        width: 60px;
    }
    .btnDecline{
        width: 30px;
    }
    .directionArrow{
        margin-top: 20px;
        font-size: 50px;
        color: orange;
    }
    .user{
        margin-bottom: 10px;
    }
    .confirmButton{
      margin-top: 20px; 
    }
    .modalFont{
        color: black;
    }
</style>