<div class="row">
    <h2>S prijateljem</h2>
</div>
<div class="row">
    <div class="col-md-3">
        <h3>Popis ljudi na serveru:</h3>
        <div *ngFor="let user of usersOnline" class="user form-inline" style="width:100%;">
            <button *ngIf="!user.odabran" (click)="odaberi(user)" align="right" class="btn btn-default form-group" >
                <span class="glyphicon glyphicon-ok"></span>
            </button>
            <button *ngIf="user.odabran" (click)="odaberi(user)" align="right" class="btn btn-info form-group" >
                <span class="glyphicon glyphicon-ok"></span>
            </button>
            
            &nbsp;&nbsp;
            <h4 class="form-group">{{user.name}}({{user.age}})</h4>
        </div>
    </div>
    <div class="col-md-1">
        <span class="glyphicon glyphicon-circle-arrow-right directionArrow"></span>
    </div>
    <div class="col-md-3">
        <h3>Odabrali ste prijatelje:</h3>
        <h4 *ngFor="let el of odabrani">{{el.name}} ({{el.age}})</h4>
    </div>
    <div class="col-md-1">
        <span class="glyphicon glyphicon-circle-arrow-right directionArrow"></span>
    </div>
    <div class="col-md-3">
        
        <button *ngIf="brojOdabranih != 2" class="btn btn-info btn-lg confirmButton" disabled>Pošalji zahtjev</button>
        <button *ngIf="brojOdabranih == 2" class="btn btn-info btn-lg confirmButton" (click)="posaljiZahtjev()" data-toggle="modal" data-target="#myModal">Pošalji zahtjev</button>
    </div>
</div>

<!--MODAL-->
<div data-backdrop="static" data-keyboard="false" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modalFont">
        <h4 class="modal-title " id="myModalLabel">Poslali ste zahtjev osobama:</h4>
        <h5 *ngIf="zahtjev != undefined">{{zahtjev.prima1.name}}, status: 
            <span *ngIf="zahtjev.prima1.status" style="color: green"><span class="glyphicon glyphicon-ok"></span></span>
            <span *ngIf="!zahtjev.prima1.status" ><span class="glyphicon glyphicon-remove"></span></span>
        </h5>
        <h5 *ngIf="zahtjev != undefined">{{zahtjev.prima2.name}}, status: 
            <span *ngIf="zahtjev.prima2.status" style="color: green"><span class="glyphicon glyphicon-ok"></span></span>
            <span *ngIf="!zahtjev.prima2.status" ><span class="glyphicon glyphicon-remove"></span></span>
        </h5>
      </div>
      <div class="modal-body modalFont">
        Ovo je stanje čekanja. Možete nastaviti čekati, ili poništiti vaš zahtjev. <br>
        <span class="glyphicon glyphicon-time modalFont" style="font-size: 50px;"></span>
      </div>
      <div class="modal-footer">
        <button *ngIf="!zahtjevPotdvrdjen" id="prekini" type="button" class="btn btn-danger" data-dismiss="modal" (click)="ponistiZahtjev()">Poništi zahtjev</button>
        <button (click)="zapocni()" data-dismiss="modal" *ngIf="zahtjevPotdvrdjen" type="button" class="btn btn-success" >Započni učenje</button>
      </div>
    </div>
  </div>
</div>

<style>
    .odmakLijevi{
        margin-left: 20px;
    }
    .btnConfirm{
        width: 60px;
    }
    .btnDecline{
        width: 30px;
    }
    .directionArrow{
        margin-top: 20px;
        font-size: 50px;
        color: orange;
    }
    .user{
        margin-bottom: 10px;
    }
    .confirmButton{
      margin-top: 20px; 
    }
    .modalFont{
        color: black;
    }
</style>