<div class="row">
    
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4 text-center">
        <div *ngIf="!cekanje">
            <div class="alert alert-info">
                <strong>Bacite kocku</strong><br>
                Okušajte učenje s nasumičnim partnerima.
            </div>
            <img (click)="zahtjevZaRandom()" src="/images/random.png" class="slika">
        </div>
        <div *ngIf="cekanje">
            <div class="alert alert-info">
                <strong>Traženje trojke za učenje.</strong><br>
                Čekanje se može odužiti ukoliko nema dovoljno ljudi na serveru.
            </div>
            <br>
            <img src="/images/cekanje.png" style="height: 200px;">
            <br>
            <button (click)="ponistiZahtjev()"  class="btn btn-warning" style="width:100%; margin-top: 20px;">Poništi zahtjev</button>
        </div>
    </div>
    <div class="col-md-4">
        
    </div>

</div>

<style>
    .slika{
        width: 80%;
         -webkit-transition: all 0.5s ease; /* Safari and Chrome */
        -moz-transition: all 0.5s ease; /* Firefox */
        -ms-transition: all 0.5s ease; /* IE 9 */
        -o-transition: all 0.5s ease; /* Opera */
        transition: all 0.5s ease;
    }
    .slika:hover{
        -webkit-transform:scale(1.2); /* Safari and Chrome */
        -moz-transform:scale(1.2); /* Firefox */
        -ms-transform:scale(1.2); /* IE 9 */
        -o-transform:scale(1.2); /* Opera */
        transform:scale(1.2);
    }
    
</style>