
<div class="row naslov">
    <img class="slikaDjece" src="/images/djeca.jpg">
    
</div>
<div class="row tijelo">
    <div class="col-sm-4">
        <img src="/images/operations.png" style="width:100%; padding-right: 50px;">
    </div>
    <div class="col-sm-8">
        <div class="panel panel-warning">
            <div class="panel-heading">
                Što je Matka Multiplayer ?
            </div>
            <div class="panel-body">
                
            Matka Multiplayer jest online aplikacija za sinkrono učenje matematike.
            Namijenjena jest učenicima nižih razreda osnovnih škola, ili onima koji se tako osjećaju. 
            Učenje jest organizirano ili u parovima ili u trojkama, ovisno o razini nadzora kojeg želite (proučite u pojedinostima učenja u parovima i trojkama).
        
            </div>
        </div>

        <div class="panel panel-warning">
            <div class="panel-heading">
                Kako se služiti sustavom?
            </div>
            <div class="panel-body">
            Prilikom ulaska u sustav nije potrebna "prava" registracija. Ova aplikacija jest potpuno otvorena za sve željne učenja, te je za login potreban samo nadimak/ime 
            te starost.
            <br>
            Nakon što je korisnik odabrao između učenja u dvojkama ili trojkama, može sam odabrati drugog korisnika s kojim želi učiti. Druga opcija jest "Brza igra" u kojoj se određenim
            algoritmom uzima neki od korisnika na webu te ga pridjeljuje vama u grupu.
            </div>
        </div>

        <div class="alert alert-info">
            <strong>Više informacija u pojedinostma "Učenje u paru" i "Učenje u trojkama"</strong>
        </div>
    </div>
    
</div>

<style>
    .citat{
        font-family: "Arial Black", Gadget, sans-serif;
        color: whitesmoke;
    }
    .naslov{
        padding-left: 100px;
        padding-right: 100px;
    }
    .slikaDjece{
        width: 100%;
    }
    .tijelo{
        margin-top: 70px;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
    }
    
    p {     
        font-size: 17px;
        padding-left: 70px;
        padding-left: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }

</style>