<div class="row">
    <div routerLink="/home/dvojke/info" title="Učenje u paru" class="btn btn-default btn-md pull-right pull-center">
        <span class="glyphicon glyphicon-home home"></span>
    </div>
    <h1>Učenje u paru</h1>
    <hr>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="btn-group">
            <button (click)="sPrijateljem()" type="button" class="btn btn-info">S prijateljem</button>
            <button (click)="brzoUcenje()" type="button" class="btn btn-warning">Brzo učenje</button>
        </div>
        <hr *ngIf="brzo" class="brzo">
        <hr *ngIf="!brzo" class="prijatelj">
    </div>
</div>
<div class="row lijeviOdmak">
    <router-outlet></router-outlet>
</div>


<style>
    .home {
        font-size: 20px;
    }
    .naslov{
        color: whitesmoke;
    }
    .prijatelj{
        border-color: #5bc0de;
        border-width: 2px;
    }
    .brzo{
        border-color: orange;
        border-width: 2px;
    }
    .lijeviOdmak{
        padding-left: 60px;
    }
    .btn-group button {
        width: 100px;
    }

</style>