<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a *ngIf="!zakljucano" class="navbar-brand" routerLink="/home/info">MatkaMultiplayer</a>
            <a *ngIf="zakljucano" class="navbar-brand">MatkaMultiplayer</a>
        </div>
        <ul  *ngIf="myName != undefined" class="nav navbar-nav navbar-right navbarElement">
            <li class="btn" style="color: white">
                <span class="glyphicon glyphicon-user"></span>
                {{myName}} ({{myAge}})
            </li>
            <li (click)="odjava()" class="btn" *ngIf="!zakljucano" style="color: orange">
                    <span class="glyphicon glyphicon-log-out"></span>
                    Odjava
            </li>
            <li class="btn" *ngIf="zakljucano" style="color: whitesmoke">
                <span class="glyphicon glyphicon-log-out"></span>
                Odjava
            </li>

        </ul>
    </div>
</nav>

<style>
    .navbarElement{
        margin-top: 10px;
        color: whitesmoke;
        margin-right: 50px;
    }
    ul li {
        display: inline;
        
    }
</style>
